@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: hsl(212, 45%, 89%);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.card-container {
    background-color: hsl(0, 0%, 100%);
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 100px auto;
    width: 60%;
    height: 100%;

}

.card-image {
    border-radius: 10px;
    width: 100%;
}

.card-heading {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #1F3251;
    margin: 10px;
}

.card-title {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7B879D;
}

.text-container {
    text-align: center;
    padding: 15px;
}